{#
/**
 * @file
 * Default theme implementation for svg_icon.
 *
 * Available variables:
 *   - icon.label: The icon label.
 *   - icon.svg: The url to the SVG sprite file.
 *   - icon.id: The ID of the icon to display.
 *   - icon['#right']: A boolean value indicating the position of the icon.
 *   - icon['#only']: A boolean value to hide or not the icon label.
 */
#}
{% if icon['#right'] %}
  <span{{ label_attributes }}>{{ icon.label }}</span>
{% endif %}
<svg{{ attributes }}>
  <use xlink:href="{{ icon.svg }}#{{ icon.id }}" />
</svg>
{% if not icon['#right'] %}
  <span{{ label_attributes }}>{{ icon.label }}</span>
{% endif %}
